p {
    color: green;
}

h1 {
    color: blue;
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.intro {
    font-size: 20px;
}

#title {
    text-align: center;
}

body {
    background-color: lightgray;
    color: darkblue;
}